/* Carousel.css */
.carousel-container {
    width: 100%;
}

.mySwiper {
    margin: 21px;
}

.slide-content {
    position: relative;
    height: 35rem;
    overflow: hidden;
    /* Hide gradient overflow */
}

.color-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-image: linear-gradient(to top,
            rgba(0, 0, 0, 0.9),
            rgba(0, 0, 0, 0));
}

.slide-content img {
    height: 35rem;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.slider-text {
    position: absolute;
    bottom: 10%;
    left: 5%;
    color: #fff;
    font-weight: 500;
    max-width: 60%;
}

.slider-text h1 {
    font-size: 55px;
    margin-bottom: 20px;
}

.swiper-pagination {
    margin-bottom: 5rem;
}

.swiper-pagination-bullet {
    width: 20px;
    height: 20px;
}

.swiper-pagination-bullet-active {
    background: white;
}

.swiper-button-prev {
    color: white;
    /* Set to white */
}

.swiper-button-next {
    color: white;
    /* Set to white */
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: -73px;
}