.Sankalp h1 {
    text-align: center;
    color: #6ABA77;
    font-size: 50px;
    padding: 15px;
}

.content {
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
}

.img1 {
    align-items: center;
    margin-right: auto;
    margin-right: auto;
}

.img1 img {
    width: 66rem;
    height: 32rem;
    /* border-radius: 40px; */
    padding: 10px;
}

.desc {
    color: var(--grey);
    padding: 10px;
    margin-bottom: 35px;
}

.desc br {
    padding-top: 10px;

}




/* LifestyleCard.css */

.LocalNews {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.heading {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}

.heading h2 {
    color: var(--primary-color);
    font-size: 2rem;
    font-weight: 800;
    margin: 3vh 0;
}

.cardContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 2vh;
    width: 65rem
}

.card {
    width: 32%;
    border-radius: 5px;
    overflow: hidden;
}

.card img {
    width: 100%;
}

.card .card-content {
    background: var(--light-green);
    padding: 1.5vh 0.5vw;
}

.card .card-content h5 {
    color: var(--black);
    font-size: 1rem;
    font-weight: 600;
}

.card .card-content p {
    color: var(--grey);
    font-size: 0.9rem;
    font-weight: 500;
    margin-top: 1vh;
}

@media (max-width: 700px) {
    .LifestyleCard {
        width: 100%;
        padding: 0 5vw;
    }

    .heading p {
        text-align: center;
    }

    .cardContainer {
        row-gap: 1.5vh;
    }

    .card {
        width: 100%;
    }

    .card .card-content {
        padding: 1.5vh 3vw;
    }

    .card .card-content h5 {
        font-size: 1.2rem;
    }

    .card .card-content p {
        font-size: 1rem;
        margin-top: 0.5vh;
    }
}