/* Admin.css */
.admin-center {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

.admin-container {
    max-width: 600px;
    /* Adjust the max-width to a suitable value */
    width: 100%;
    /* Set the width to 100% to fill the available space */
    padding: 20px;
    padding-right: 40px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.admin-container h1 {
    text-align: center;
}

.news-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 20px;
    position: relative;
    /* Needed for animation */
}

.form-group input,
.form-group select {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-top: 5px;
    width: 100%;
    transition: border-color 0.3s ease, transform 0.3s ease;
}

.form-group input:focus,
.form-group select:focus {
    border-color: #007bff;
    outline: none;
    transform: scale(1.02);
}

.submit-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.submit-button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}